@(contact : Contact)

@main("Show a contact"){
    <div class="container">
        <table class="table table-striped">
        <thead>
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Phone</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@contact.name</td>
                <td>@contact.email</td>
                <td>@contact.phone</td>
            </tr>

        </tbody>
        </table>

        <a href="@routes.Agenda.newContact()">Create new contact</a>
    </div>
}